{% extends "ddny/base.html" %}

{% block content %}

<title>DDNY Tanks: PSI-PCI 18 Step Protocol</title>

<div class="page-header">
  <h1>PSI-PCI 18-step protocol</h1>
</div>

<div class="row">
  <div class="col-md-12">
  <ol class="listy">
    <li><b>SLOWLY Drain cylinder</b>
      <ul>
        <li>Slowly discharge all air from cylinder with the reserve (if any) down.</li>
        <li>Avoid heavy condensation on the cylinder interior walls.</li>
        <li>Should take longer than 10 minutes.</li>
      </ul>
    </li>
    <li><b>Observe & Record Background Data</b>
      <ul>
        <li>Record relevant cylinder background data as indicated on the evaluation form.</li>
        <li>Determine if the cylinder is within hydrostatic test date and acceptable to inspect.
        <ul>
          <li>If hydro test is not available in your country or region, the visual inspection becomes even more vital.
        </ul>
        </li>
        <li>Look for evidence of heat damage</li>
        <li>Learn method used for any repainting observed.</li>
        <li>Inquire of owner for any information about the cylinder that might influence the inspection.</li>
      </ul>
    </li>
    <li><b>Remove All Accessories</b>
      <ul>
        <li>Remove all accessories including backpack, cover, boot and attachments.</li>
        <li>Remove loose paint and dirt from exterior.</li>
        <li>Expose all the tank printed specifications relevant to the inspection.</li>
      </ul>
    </li>
    <li><b>Administer Hammer Test to Steel Cylinder</b>
      <ul>
        <li>Perform hammer test for steel cylinders only.</li>
        <li>Hold bare cylinder off the floor by the valve and strike lightly with a mallet.</li>
        <li>Assess tone for bell-like quality</li>
        <li>The hamer test may release corrosion product adhering to interior walls.</li>
      </ul>
    </li>
    <li><b>Exterior Inspection</b>
      <ul>
        <li>Place cylinder on a padded bench and roll it 360 degrees with a straight edge.
          <ul>
            <li>For 3AA and 3AL cylinder only, dress protusion gouges with a file to assess true depth.
          </ul>
        </li>
        <li>Assess depth observations against the allowable limits.</li>
        <li>Assess composite damage against limits found in CGA6.2 tables or manufacturer's limits.</li>
      </ul>
    </li>
    <li><b>Remove Valve</b>
      <ul>
        <li>Carefully open valve to verify that the cylinder is empty.</li>
        <li>Secure cylidner in padded restraint (vise).</li>
        <li>Un-padded restraint may mar cylinder finish or damage metal and composite materials.</li>
        <li>Remove valve
          <ul>
            <li>The valve may be difficult to remove.</li>
            <li>Impatience and improper use of tools can cause damage to the valve.</li>
            <li>Remember which way the valve unscrews.</li>
            <li>If release is difficult, consider the possibility of air remaining behind a defective valve.</li>
            <li>Anticipate o-ring extrusion.</li>
            <li>The heel of your hand may provide enough force to release a 3/4" straight thread valve.</li>
            <li>Do not strike valve handwheel or reserve mechanism repeatedly to loosen.</li>
            <li>Place wrench across valve flats near cylinder neck or use distributor provided tool.</li>
            <li>Use care to avoid deforming valve.</li>
            <li>For hard to remove valves, add a small amount of air into cylinder and then release it to confirm the cylinder is empty.</li>
            <li>It may be necessary to carefully remove the burst disc if valve will not release air.</li>
            <li>Some valves have a pressure release hole in the threaded area to alert the technician that air still remains in the cylinder.</li>
          </ul>
        </li>
        <li>Inspect the valve for proper function of the handwheel and the reserve (if present).</li>
        <li>Inspect the threads, base and dip tube for evidence of corrosion or contaminents.</li>
        <li>Have valve serviced or cleaned if defective or dirty.</li>
        <li>Replace plastic dip tubes found on older US Divers and Scuba Pro valves.</li>
      </ul>
    </li>
    <li><b>Check for and Remove Foreign Objects</b>
      <ul>
        <li>Insert inspection light part way into the cylinder, look briefly to determine the presence of water or solids in the cylinder.</li>
        <li>If extraordinary contents are present, release the cylinder from the vise and carefully the contents into a suitable container.</li>
        <li>When no significant contents are present, release cylinder from vise and invert cylinder about 1/2" above a white piece of paper placed on a padded surface.  Then allow the cylinder to drop onto the paper, thereby releasing its nominal contents.</li>
        <li>Assess the contents, record the type and amount (retain contents in plastic bag to show the owner).
          <ul>
            <li>Aluminum:
              <ul>
                <li>White powder, usually is aluminum oxide.</li>
                <li>Gummy, translucent lumps is aluminum hydroxide.</li>
              </ul>
            <li>Steel:
              <ul>
                <li>Brown powder, grit and flakes usually are rust.</li>
                <li>Black dust may be compressor-filter carbon.</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li><b>View/Inspect Interior of Cylinder</b>
      <ul>
        <li>With multi-bulb low voltage inspection light, carefully view and assess all visible parts of the cylinder interior.  Determine the source of any contents.</li>
        <li>Use pick-end probe tools to compare suspect pits and corrosion areas against the standard pit reference plate and record the findings using descriptive terms.</li>
        <li>If needed, the cylinder should be tumbled by an qualified person during the inspection process to remove any material obscuring the metal surface.</li>
        <li>After tumbling the inspection continues.</li>
        <li>Inspectors without such equipment should arrange for tumbling services.</li>
      </ul>
    </li>
    <li><b>Inspect Cylinder Threads</b>
      <ul>
        <li>Carefully view all cylinder threads. Ensure that a minimum of full and continuous threads are present.</li>
        <li>Some aluminum alloy cylinders are susceptible to extensive metal loss at the base of the threads.</li>
        <li>Galling from valve removal and galvanic corrosion may reduce threads on aluminum alloy cylinders and composite linders.</li>
        <li>Consult manufacturer for the necessary number of intact threads.</li>
        <li>Use a shoulder mirror to inspect the shoulder and neck area of aluminum cylinders for stress cracks or other damage.</li>
      </ul>
    </li>
    <li><b>Eddy Current</b>
      <ul>
        <li>Applicable 3AL cylinders, all scuba, SCBA and oxygen cylinders manufactured prior to 1990.</li>
      </ul>
    </li>
    <li><b>Inspect the O-ring</b>
      <ul>
        <li>Commonly the valve o-ring can be used again if it is not damaged. However, some valve distributors and conservative inspectors routinely replace the valve o-ring.</li>
        <li>Selection for proper material compounds is important. Use manufacturer's recommend compound and hardness.</li>
      </ul>
    </li>
    <li><b>Inspect the Pressure Relief Device (PRD)</b>
      <ul>
        <li>Ensure correct pressure rating for cylinder.</li>
        <li>If the PRD assembly is lead filled, it should be replaced with correct safety device.</li>
        <li>If the retainer nut is single port it should be replaced with a multi-port nut assembly.</li>
        <li>The multi-port retaining nuts should be used for replacements as they prevent the cylinder moving if disc ruptures.</li>
        <li>Valve manufacturers recommend entire disc assembly on SCUBA cylinders be replaced as a unit each 5-years when no other justification warrants more frequent services.  Use manufacturers' specified interval for SCBA cylinder valves.</li>
      </ul>
    </li>
    <li><b>Make Your Judgement.</b>
      <ul>
        <li>The judgment is made after all the observations are complete.</li>
        <li>If the cylinder meets the standards, then re-install the valve.</li>
        <li>If the cylinder does not pass the inspection, tag the cylinder with an explanatory note describing the owner's options (see evaluation form).</li>
        <li>Contact the owner and decide if the cylinder should be re-assembled or sent to (1) an hydro test station, (2) tumbling, (3) other service, or (4) condemned.
      </ul>
    </li>
    <li><b>Reinstall Valve</b>
      <ul>
        <li>For all AIR cylinders with straight thread o-ring sealed valves, apply light coat of Dow Corning Compound 111 (or equivalent) to all threads. This is an essential step for aluminum cylinder to prevent galvanic corrosion.</li>
        <li>Do not overly tighten o-ring sealed valves.</li>
        <li>Tapered 1/2" pipe threads should be covered by 2 wraps of Teflon tape (medic oxygen cylinders).
          <ul>
            <li>Tape wrap should not extend beyond valve threads since excess tape can become detached from the valve and enter the breathing supply, possibly fouling the valve or regulator.</li>
          </ul>
        </li>
        <li>Set valve using only modest hand force on the wrench, approximately 45 to 75 foot pounds of torque.</li>
        <li>For multi-tank assemblies, leave the manifold only hand tight until backpack or bands are in place.</li>
        <li>Then be sure all is square and parallel as the manifold is tightened snugly.</li>
      </ul>
    </li>
    <li><b>Complete Assembly and Apply Evidence of Inspection (EOI) Sticker</b>
      <ul>
        <li>If the cylinder meets the standards, log the inspection report into a permanent record or apply an EOI sticker with the current date. Use a paper hole punch to obliterate the inspection month and year when PSI EOI are used.</li>
        <li>Reinstall all accessories such as backpack and cylinder cover.</li>
      </ul>
    </li>
    <li><b>Fill Cylinder and Check for Leaks</b>
      <ul>
        <li>Inspectors wth an air station typically refill the cylinder and inspect for leaks (gas compatible solution). However, the inspection is complete without re-filling cylinder with air.</li>
        <li>Check the valve pressure guage for accuracy.</li>
      </ul>
    </li>
    <li><b>Complete All Forms and Paperwork For Each Cylinder</b></li>
    <li><b>Return Cylinder to Owner</b>
      <ul>
        <li>Return cylinder to owner with a list of tips for cylinder care and storage (see back of evaluation form).</li>
        <li>Return all parts replaced for the owner's inspection.</li>
        <li>Provide the owner with a copy  of the written report.</li>
      </ul>
    </li>
  </div>
</div>

{% endblock %}
