{% extends "ddny/base.html" %}

{% load widget_tweaks %}

{% block content %}

<title>DDNY Specifications: {{ spec.name }} form</title>

<div class="page-header">
  <h1>
    {% if spec.name %}
    Update {{ spec.name }}
    {% else %}
    Create Spec
    {% endif %}
    </h1>
</div>

<form action="" method="post">{% csrf_token %}
  <div class="row">
    <div class="col-md-3">
      <label for="id_name" class="control-label">Material</label>
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="fa fa-gear"></span></span>
      {% render_field form.material class+="form-control" placeholder="Material" required="true" %}
      </div>
      <font color="red">{{ form.material.errors }}</font>
    </div>
    <div class="col-md-3">
      <label for="id_name" class="control-label">Name</label>
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="glyphicons glyphicons-tag"></span></span>
      {% render_field form.name class+="form-control" placeholder="Name" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required="true" %}
      </div>
      <font color="red">{{ form.name.errors }}</font>
    </div>
    <div class="col-md-3">
      <label for="id_volume" class="control-label">Volume</label>
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="glyphicons glyphicons-volume-up"></span></span>
      {% render_field form.volume class+="form-control" placeholder="Volume" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required="true" %}
      </div>
      <font color="red">{{ form.volume.errors }}</font>
    </div>
    <div class="col-md-3">
      <label for="id_working_pressure" class="control-label">Working Pressure</label>
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="glyphicons glyphicons-dashboard"></span></span>
      {% render_field form.working_pressure class+="form-control" placeholder="Working Pressure" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required="true" %}
      </div>
      <font color="red">{{ form.working_pressure.errors }}</font>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        <i class="fa fa-floppy-o"></i>&nbsp;Save Spec
      </button>
    </div>
  </div>
</form>
{% endblock %}
