{% extends "ddny/base.html" %}

{% block content %}

<title>DDNY Tanks: {{ spec.name }}</title>

<div class="page-header">
  <h1>{{ spec.name }}</h1>
</div>

<div class="row">
  <div class="col-md-3">
    <label for="id_name" class="control-label">Material</label>
    <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><span class="fa fa-gear"></span></span>
    <input disabled class="form-control" id="id_material" value="{{ spec.material }}">
    </div>
  </div>
  <div class="col-md-3">
    <label for="id_name" class="control-label">Name</label>
    <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><span class="glyphicons glyphicons-tag"></span></span>
    <input disabled class="form-control" id="id_name" value="{{ spec.name }}">
    </div>
  </div>
  <div class="col-md-3">
    <label for="id_volume" class="control-label">Volume</label>
    <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><span class="glyphicons glyphicons-volume-up"></span></span>
    <input disabled class="form-control" id="id_volume" value="{{ spec.volume|floatformat:1 }}">
    </div>
  </div>
  <div class="col-md-3">
    <label for="id_working_pressure" class="control-label">Working Pressure</label>
    <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><span class="glyphicons glyphicons-dashboard"></span></span>
    <input disabled class="form-control" id="id_working_pressure" value="{{ spec.working_pressure }}" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 centered-text">
    <a href="{% url 'spec_update' spec.slug %}" class="btn btn-lg btn-primary">
      <i class="fa fa-pencil-square-o"></i>&nbsp;Edit Spec
    </a>
  </div>
</div>

{% endblock %}
