{% extends "ddny/base.html" %}

{% block content %}

<title>DDNY Tanks: Tanks</title>

<div class="page-header">
  <h1>Tanks</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <td>
            {% if '-owner' in sort_params %}
            <a href="?sort_by=owner">
            {% else %}
            <a href="?sort_by=-owner">
            {% endif %}
            Owner
            </a>
        </td>
        <td>
            {% if '-serial_number' in sort_params %}
            <a href="?sort_by=serial_number">
            {% else %}
            <a href="?sort_by=-serial_number">
            {% endif %}
            Serial Number
            </a>
        </td>
        <td>Code</td>
        <td>Doubles Code</td>
        <td>Specification</td>
        <td>Last Hydro
        </td>
        <td>Last Vip</td>
      </tr>
    </thead>
    <tbody>
      {% for tank in tank_list %}
        <tr>
          <td><a href={{ tank.owner.get_absolute_url }}>{{ tank.owner.first_name }}</a></td>
          <td><a href={{ tank.get_absolute_url }}>{{ tank.serial_number }}</a></td>
          <td><a href={{ tank.get_absolute_url }}>{{ tank.code }}</a></td>
          <td>{{ tank.doubles_code }}</td>
          <td><a href={{ tank.spec.get_absolute_url }}>{{ tank.spec.name }}</a></td>
          <td>{{ tank.last_hydro.date|date:"Y-m" }}
            {% if not tank.is_current_hydro %}
            &nbsp;<i class="glyphicons glyphicons-alert text-grey"></i>
            {% endif %}
          </td>
          <td><a href={{ tank.last_vip.get_absolute_url }}>{{ tank.last_vip.date|date:"Y-m" }}</a>
            {% if not tank.is_current_vip %}
            &nbsp;<i class="glyphicons glyphicons-alert text-grey"></i>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 centered-text">
    <a href="{% url 'tank:create' %}" class="btn btn-lg btn-primary">
      <i class="glyphicons glyphicons-circle-plus"></i>&nbsp;Add Tank
    </a>
  </div>
</div>

{% endblock %}
