{% extends "ddny/base.html" %}

{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="{% static 'tank/jquery-ui-1.11.4.custom/jquery-ui.min.css' %}">

<title>DDNY Tanks: {{ tank.code }} form</title>

<div class="page-header">
  <h1>
  {% if tank.code %}
  Update {{ tank.code }}
  {% else %}
  Create Tank
  {% endif %}
  </h1>
</div>

<form action="" method="post">
{% csrf_token %}
  {% render_field form.is_active type="hidden" value="true" %}
  <div class="row">
    <div class="col-md-4">
      <label for="id_serial_number" class="control-label">Serial Number</label>
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="glyphicons glyphicons-nameplate"></span></span>
      {% render_field form.serial_number class+="form-control" placeholder="Serial Number" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required="true" %}
      </div>
      <font color="red">{{ form.serial_number.errors }}</font>
    </div>
    <div class="col-md-4">
      <label for="id_doubles_code" class="control-label">Doubles Code (optional)</label>
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="glyphicons glyphicons-tags"></span></span>
      {% render_field form.doubles_code class+="form-control" placeholder="Doubles Code" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" %}
      </div>
      <font color="red">{{ form.doubles_code.errors }}</font>
    </div>
    <div class="col-md-4">
      <label for="id_code" class="control-label">Code</label>
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="glyphicons glyphicons-tag"></span></span>
      {% render_field form.code class+="form-control" placeholder="Code" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required="true" %}
      </div>
      <font color="red">{{ form.code.errors }}</font>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label for="id_spec" class="control-label">Specification (<a href="{% url 'spec_create' %}" target="_blank">Add new</a>)</label>
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="glyphicons glyphicons-oxygen-bottle"></span></span>
      {% render_field form.spec class+="form-control" placeholder="Spec" required="true" %}
      </div>
      <font color="red">{{ form.spec.errors }}</font>
    </div>
    <div class="col-md-4">
      <label for="id_owner" class="control-label">Owner</label>
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="glyphicons glyphicons-scuba-diving"></span></span>
      {% render_field form.owner class+="form-control" placeholder="Owner" required="true" %}
      </div>
      <font color="red">{{ form.owner.errors }}</font>
    </div>
    <div class="col-md-4 hydro_form">
      <div class="col-md-12">
        <label for="hydro_form" class="control-label">Hydros</label>
      </div>
      {{ inlines.0.management_form }}
      {% for f in inlines.0 reversed %}
      {{ f.id }}
      {% if forloop.counter > 2 %}
      <div class="col-md-8">
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><span class="glyphicons glyphicons-calendar"></span></span>
          {% render_field f.date class+="form-control datepicker" placeholder="Add Date" %}
        </div>
      </div>
      {% if f.date.value is not None %}
      <div class="col-md-4">
        {% render_field f.DELETE %}
        <label for="id_hydro_set-{{ forloop.counter|add:'-1'}}-DELETE"}>Delete</label>
      </div>
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-2 centered-text">
      <button class="btn btn-lg btn-primary" type="submit">
        <i class="glyphicons glyphicons-floppy-disk"></i>&nbsp;Save Tank
      </button>
    </div>
    <div class="col-md-4 centered-text">
      <button class="btn btn-lg btn-danger" name="cancel" formnovalidate>
        <i class="glyphicons glyphicons-floppy-remove"></i>&nbsp;Cancel
      </button>
    </div>

  </div>
</form>

<script src="{% static 'tank/jquery-ui-1.11.4.custom/jquery-ui.min.js' %}"></script>
<script>
$(".datepicker").each(function(){
  $(this).datepicker({
    dateFormat: "yy-mm-dd"
  })
})
</script>
{% endblock %}
