{% extends "ddny/base.html" %}

{% block content %}

<title>DDNY Tanks: Vips</title>

<div class="page-header">
  <h1>Visual Inspections</h1>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-hover">
    <thead>
      <tr>
        <td>Date</td>
        <td>Serial Number</td>
        <td>Tank Code</td>
        <td>Inspector</td>
        <td>Condition</td>
      </tr>
    </thead>
    <tbody>
      {% for vip in vip_list %}
      <tr>
        <td><a href={{ vip.get_absolute_url }}>{{ vip.date|date:"Y-m-d" }}</a></td>
        <td><a href={{ vip.tank.get_absolute_url }}>{{ vip.tank.serial_number }}</a></td>
        <td><a href={{ vip.tank.get_absolute_url }}>{{ vip.tank.code }}</a></td>
        <td>{{ vip.inspector_name }}</td>
        <td>{{ vip.cylindercondition }}ed</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
</div>

{% endblock %}
