appdirs==1.4.3
astroid==1.3.8
braintree==3.21.0
coverage==4.0.1
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.5
django-autocomplete-light==3.1.6
django-braces==1.8.1
django-debug-toolbar==1.4
django-extensions==1.5.7
django-extra-views==0.7.1
django-grappelli==2.7.1
django-ical==1.3
django-jsignature==0.8
django-model-utils==2.3.1
django-widget-tweaks==1.4.1
docopt==0.6.2
docutils==0.12
factory-boy==2.6.0
fake-factory==0.5.3
gunicorn==19.3.0
html-linter==0.1.9
icalendar==3.9.1
logilab-common==1.1.0
nose==1.3.7
packaging==16.8
Pillow==3.0.0
psycopg2==2.7.5
pylint==1.4.4
pyparsing==2.2.0
pystache==0.5.4
python-dateutil==2.4.2
python-gflags==2.0
pytz==2015.7
requests==2.8.1
six==1.10.0
sqlparse==0.1.18
static3==0.6.1
template-remover==0.1.9
termcolor==1.1.0
Unipath==1.1
