{% extends "ddny/base.html" %}

{% load admin_urls %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

<title>DDNY Fillstation: Fill</title>

<div class="page-header">
  <h1>Fill</h1>
</div>
<form id="add-fill-form" class="form" method="post" action="#">
  <div class="row">
    <div class="col-md-4">
      <label for="id_blender">Blender</label>
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="glyphicons glyphicons-user"></span></span>
      {% render_field form.blender class+="form-control" placeholder="Blender" required="true" %}
      </div>
      <font color="red">{{ form.blender.errors }}</font>
    </div>
    <div class="col-md-4">
      <label for="id_bill-to">Bill To</label>
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="glyphicons glyphicons-user"></span></span>
      {% render_field form.bill_to class+="form-control" placeholder="Bill To" required="true" %}
      </div>
      <font color="red">{{ form.bill_to.errors }}</font>
    </div>
    <div class="col-md-4">
      <label for="id_tank">Tank</label>
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="glyphicons glyphicons-oxygen-bottle"></span></span>
      {% render_field form.tank class+="form-control" placeholder="Tank" required="true" %}
      </div>
      <font color="red">{{ form.tank.errors }}</font>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label for="id_gas">Banked Gas</label>
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="glyphicons glyphicons-cloud"></span></span>
      {% render_field form.gas class+="form-control" placeholder="Gas" required="true" %}
      </div>
      <font color="red">{{ form.gas.errors }}</font>
    </div>
    <div class="col-md-4">
      <label for="id_psi_start">Psi Start</label>
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="glyphicons glyphicons-dashboard"></span></span>
      {% render_field form.psi_start class+="form-control" placeholder="Psi Start" required="true" %}
      </div>
      <font color="red">{{ form.psi_start.errors }}</font>
    </div>
    <div class="col-md-4">
      <label for="id_psi_end">Psi End</label>
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="glyphicons glyphicons-dashboard"></span></span>
      {% render_field form.psi_end class+="form-control" placeholder="Psi End" required="true" %}
      </div>
      <font color="red">{{ form.psi_end.errors }}</font>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        <i class="glyphicons glyphicons-circle-plus"></i>&nbsp;Add
      </button>
      <font color="red">{{ form.non_field_errors }}</font>
     </div>
  </div>
</form>
<hr>
<table class="table">
  <thead id="thead"></thead>
  <tbody id="tbody"></tbody>
</table>
<form id="log-fills-form" class="form" method="post" action="{% url 'fillstation:log_fill' %}">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button id="log-fills-button" type="submit" class="hidden btn btn-block btn-lg btn-primary"><span id="log-fills-button-text"></span></button>
    </div>
  </div>
</form>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" id="modal-body">
        <div id="tank-danger-message" class="alert alert-danger hidden">
          <p><i class="glyphicons glyphicons-alert"></i><strong>TANK ALERT</strong>
          <ul>
            <div id="tank-danger-list"></div>
          </ul>
          <p>If you log these fills an e-mail will be sent to: {{ tank_nazi }}
          <p>Click <a href="{% url 'tank:list' %}" class="alert-link">here</a> to visit the tank admin page.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>

{% autoescape off %}
<script>
var equipment_cost = {{ equipment_cost }}
var gas_info = JSON.parse('{{ gas_info }}')
var tank_info = JSON.parse('{{ tank_info }}')
var tank_nazi = "{{ tank_nazi }}"
</script>
{% endautoescape %}

<script src="{% static 'fillstation/js/fill.js' %}"></script>

<script>
// Add fills to the table
$("#add-fill-form").submit(function(e) {
  e.target.checkValidity()
  e.preventDefault()
  addFill()
  updateFillButton()
  updateFillForm()
  return true
})

// Remove fills from the table
$(document).on("click", "#remove-fill-button", function(e) {
  e.preventDefault()
  if ($("#tbody tr").size() > 0) {
    $(this).closest("tr").remove()
  }
  updateFillButton()
  return true
})
</script>

{% endblock %}
