{% extends "ddny/base.html" %}

{% load staticfiles %}

{% block content %}

<title>DDNY Fillstation: Log</title>

<div class="page-header">
  <h1 class="header">Log
  </h1>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <td>Id</td>
          <td>Is Paid</td>
          <td>Time</td>
          <td>Blender</td>
          <td>Bill To</td>
          <td>Tank Code</td>
          <td>Gas</td>
          <td>Psi Start</td>
          <td>Psi End</td>
          <td>Total Price</td>
        </tr>
      </thead>
      <tbody>
        {% for fill in fill_log %}
        <tr>
          <td>{{ fill.id }}</td>
          <td>{{ fill.is_paid }}</td>
          <td>{{ fill.datetime|date:"Y-m-d H:i" }}</td>
          <td><a href="{{ fill.blender.get_absolute_url }}">{{ fill.blender.first_name }}</a></td>
          <td><a href="{{ fill.bill_to.get_absolute_url }}">{{ fill.bill_to.first_name }}</a></td>
          <td><a href="{% url 'tank:detail' fill.tank_code %}">{{ fill.tank_code }}</a></td>
          <td><a href="{% url 'gas:detail' fill.gas_slug %}">{{ fill.gas_name }}</a></td>
          <td>{{ fill.psi_start }}</td>
          <td>{{ fill.psi_end }}</td>
          <td>{{ fill.total_price }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
<div class="col-md-4 col-md-offset-4 centered-text">
  <a href="{% url 'fillstation:download' %}" class="btn btn-lg btn-primary" type="submit"><i class="glyphicons glyphicons-download-alt"></i>&nbsp;Download</a>
</div>
</div>
{% endblock %}
