{% extends "ddny/base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

<title>DDNY Fillstation: Unpaid Fills</title>

<div class="page-header">
  <h1>
  <div class="row">
    <div class="col-md-8">
      Unpaid Fills
    </div>
    {% if form %}
    <div class="col-md-4">
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="glyphicons glyphicons-user"></span></span>
      {% render_field form.bill_to class+="form-control" placeholder="Bill To" %}
      </div>
    </div>
    {% endif %}
  </div>
  </h1>
</div>

<div id="make-table">
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <td>Id</td>
          <td>Is Paid</td>
          <td>Time</td>
          <td>Blender</td>
          <td>Bill To</td>
          <td>Surcharge</td>
          <td>Tank Code</td>
          <td>Gas</td>
          <td>Psi Start</td>
          <td>Psi End</td>
          <td>Total Price</td>
        </tr>
      </thead>
      <tbody>
        {% for fill in fill_log %}
          <tr>
            <td class="fill_id">{{ fill.id }}</td>
            <td>{{ fill.is_paid }}</td>
            <td>{{ fill.datetime|date:"Y-m-d H:i" }}</td>
            <td><a href="{{ fill.blender.get_absolute_url }}">{{ fill.blender.first_name }}</a></td>
            <td><a href="{{ fill.bill_to.get_absolute_url }}">{{ fill.bill_to.first_name }}</a></td>
            {% if fill.is_equipment_surcharge %}
              <td>{{ fill.equipment_surcharge_key }}</td>
            {% else %}
              <td></td>
            {% endif %}
            {% if fill.is_equipment_surcharge %}
              <td></td>
            {% else %}
              <td><a href="{% url 'tank:detail' fill.tank_code %}">{{ fill.tank_code }}</a></td>
            {% endif %}
            {% if fill.is_equipment_surcharge %}
              <td>Equipment</td>
            {% else %}
              <td><a href="{% url 'gas:detail' fill.gas_slug %}">{{ fill.gas_name }}</a></td>
            {% endif %}
            {% if fill.is_equipment_surcharge %}
              <td></td>
            {% else %}
              <td>{{ fill.psi_start }}</td>
            {% endif %}
            {% if fill.is_equipment_surcharge %}
              <td></td>
            {% else %}
              <td>{{ fill.psi_end }}</td>
            {% endif %}
            <td>{{ fill.total_price }}</td>
              <td class="fill_total_price">{{ fill.total_price }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" id="modal-body">
        <div class="alert alert-danger">
          <p><i class="glyphicons glyphicons-alert"></i><strong>TOO MANY FILLS</strong>
          <p>Please try paying again with fewer selected fills.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
