{% extends "ddny/base.html" %}

{% block content %}

<title>DDNY Member: {{ member.username }}</title>

<div class="page-header">
  <h1>{{ member.full_name }}
  <br><small>Member since {{ member.member_since|date:"Y-m-d"}}</small>
  </h1>
</div>


<div class="row">
  <div class="col-md-3">
    <label for="id_name" class="control-label">Username</label>
    <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><span class="glyphicons {% if member.gender == 'female' %}glyphicons-girl{% else %}glyphicons-user{% endif %}"></span></span>
    <input disabled class="form-control" id="id_username" value="{{ member.username }}">
    </div>
  </div>
  <div class="col-md-3">
    <label for="id_first_name" class="control-label">First Name</label>
    <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><span class="glyphicons glyphicons-scuba-diving"></span></span>
    <input disabled class="form-control" id="id_first_name" value="{{ member.first_name }}">
    </div>
  </div>
  <div class="col-md-3">
    <label for="id_last_name"Last class="control-label">Last Name</label>
    <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><span class="glyphicons glyphicons-fins"></span></span>
    <input disabled class="form-control" id="id_last_name" value="{{ member.last_name }}">
    </div>
  </div>
  <div class="col-md-3">
    <label for="id_email" class="control-label">E-mail</label>
    <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><span class="glyphicons glyphicons-envelope"></span></span>
    <input disabled class="form-control" id="id_email" value="{{ member.email }}">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  <h2>Contact info</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <label for="id_address" class="control-label">Address</label>
    <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><span class="glyphicons glyphicons-map"></span></span>
    <input disabled class="form-control" id="id_address" value="{{ member.address }}">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <label for="id_city" class="control-label">City</label>
    <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><span class="glyphicons glyphicons-map"></span></span>
    <input disabled class="form-control" id="id_city" value="{{ member.city }}">
    </div>
  </div>
  <div class="col-md-3">
    <label for="id_state" class="control-label">State</label>
    <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><span class="glyphicons glyphicons-map"></span></span>
    <input disabled class="form-control" id="id_state" value="{{ member.state }}">
    </div>
  </div>
  <div class="col-md-3">
    <label for="id_zip_code" class="control-label">Zip Code</label>
    <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><span class="glyphicons glyphicons-map"></span></span>
    <input disabled class="form-control" id="id_zip_code" value="{{ member.zip_code }}">
    </div>
  </div>
  <div class="col-md-3">
    <label for="id_phone_number" class="control-label">Phone Number</label>
    <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><span class="glyphicons glyphicons-iphone"></span></span>
    <input disabled class="form-control" id="id_phone_number" value="{{ member.phone_number }}">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  <h2>Certifications</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <label for="id_psi_inspector_number" class="control-label pull-right text-align-right">PSI/PCI inspector number:</label>
  </div>
  <div class="col-md-3">
    <input disabled class="form-control" id="id_psi_inspector_number" value="{{ member.psi_inspector_number }}">
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <label for="id_blender_certification" class="control-label pull-right text-align-right">Gas blending agency and certification (e.g. PADI 12345):</label>
  </div>
  <div class="col-md-3">
    <input disabled class="form-control" id="id_blender_certification" value="{{ member.blender_certification }}">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  <h2>Tanks</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <td>Serial Number</td>
        <td>Code</td>
        <td>Doubles Code</td>
        <td>Specification</td>
        <td>Last Hydro</td>
        <td>Last Vip</td>
      </tr>
    </thead>
    <tbody>
      {% for tank in tank_list %}
        <tr>
          <td>{{ tank.serial_number }}</td>
          <td><a href={{ tank.get_absolute_url }}>{{ tank.code }}</a></td>
          <td>{{ tank.doubles_code }}</td>
          <td><a href={{ tank.spec.get_absolute_url }}>{{ tank.spec.name }}</a></td>
          <td>{{ tank.last_hydro_date|date:"Y-m-d" }}</td>
          <td><a href={{ tank.last_vip.get_absolute_url }}>{{ tank.last_vip_date|date:"Y-m-d" }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
</div>

{% endblock %}
