{% extends "ddny/base.html" %}

{% block content %}

<title>DDNY Member: {{ member.username }}</title>

<div class="page-header">
  <h1>{{ member.first_name }} {{ member.last_name }}</h1>
</div>

<div class="row">
  <div class="col-md-3">
    <label for="id_name">Member</label>
    <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><span class="glyphicons glyphicons-user"></span></span>
    <input disabled class="form-control" id="id_username" value="{{ member.username }}" />
    </div>
  </div>
  <div class="col-md-3">
    <label for="id_first)name">First Name</label>
    <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><span class="glyphicons glyphicons-scuba-diving"></span></span>
    <input disabled class="form-control" id="id_first_name" value="{{ member.first_name }}" />
    </div>
  </div>
  <div class="col-md-3">
    <label for="id_last_name">Last Name</label>
    <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><span class="glyphicons glyphicons-fins"></span></span>
    <input disabled class="form-control" id="id_last_name" value="{{ member.last_name }}" />
    </div>
  </div>
  <div class="col-md-3">
    <label for="id_email">E-mail</label>
    <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><span class="glyphicons glyphicons-envelope"></span></span>
    <input disabled class="form-control" id="id_email" value="{{ member.email }}" />
    </div>
  </div>
</div>
{% endblock %}
