{% extends "ddny/base.html" %}

{% load widget_tweaks %}

{% block content %}

<title>DDNY Update: {{ member.username }} form</title>

<div class="page-header">
  <h1>Update profile: {{ member.username }}</h1>
</div>

<form action="" method="post">{% csrf_token %}
  {% render_field form.gender hidden="true" %}
  <div class="row">
    <div class="col-md-3">
      <label for="id_name" class="control-label">Username</label>
      <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><span class="fa fa-gear"></span></span>
        {% render_field form.username class+="form-control" placeholder="Username" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required="true" %}
      </div>
      <font color="red">{{ form.username.errors }}</font>
    </div>
    <div class="col-md-3">
      <label for="id_name" class="control-label">First Name</label>
      <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><span class="glyphicons glyphicons-tag"></span></span>
        {% render_field form.first_name class+="form-control" placeholder="First Name" autocomplete="off" autocorrect="off" spellcheck="false" required="true" %}
      </div>
      <font color="red">{{ form.first_name.errors }}</font>
    </div>
    <div class="col-md-3">
      <label for="id_name" class="control-label">Last Name</label>
      <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><span class="glyphicons glyphicons-tag"></span></span>
        {% render_field form.last_name class+="form-control" placeholder="Last Name" autocomplete="off" autocorrect="off" spellcheck="false" required="true" %}
      </div>
      <font color="red">{{ form.last_name.errors }}</font>
    </div>
    <div class="col-md-3">
      <label for="id_email" class="control-label">E-mail</label>
      <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><span class="glyphicons glyphicons-envelope"></span></span>
        {% render_field form.email class+="form-control" placeholder="E-mail" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required="true" %}
      </div>
    <font color="red">{{ form.email.errors }}</font>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
    <h2>Contact info</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label for="id_address" class="control-label">Address</label>
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="glyphicons glyphicons-map"></span></span>
      {% render_field form.address class+="form-control" %}
      </div>
      <font color="red">{{ form.address.errors }}</font>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label for="id_city" class="control-label">City</label>
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="glyphicons glyphicons-map"></span></span>
      {% render_field form.city class+="form-control" %}
      </div>
      <font color="red">{{ form.city.errors }}</font>
    </div>
    <div class="col-md-3">
      <label for="id_state" class="control-label">State</label>
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="glyphicons glyphicons-map"></span></span>
      {% render_field form.state class+="form-control" pattern=".{0}|.{2}" %}
      </div>
      <font color="red">{{ form.state.errors }}</font>
    </div>
    <div class="col-md-3">
      <label for="id_zip_code" class="control-label">Zip Code</label>
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="glyphicons glyphicons-map"></span></span>
      {% render_field form.zip_code class+="form-control" pattern="^\d{5}(-\d{4})?$" %}
      </div>
      <font color="red">{{ form.zip_code.errors }}</font>
    </div>
    <div class="col-md-3">
      <label for="id_phone_number" class="control-label">Phone Number</label>
      <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><span class="glyphicons glyphicons-iphone"></span></span>
      {% render_field form.phone_number class+="form-control" %}
      </div>
      <font color="red">{{ form.phone_number.errors }}</font>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
    <h2>Certifications</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label for="id_psi_inspector_number" class="control-label pull-right text-align-right">PSI/PCI inspector number:</label>
    </div>
    <div class="col-md-3">
      {% render_field form.psi_inspector_number class+="form-control" %}
      <font color="red">{{ form.psi_inspector_number.errors }}</font>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label for="id_blender_certification" class="control-label pull-right text-align-right">Gas blending agency and certification (e.g. PADI 12345):</label>
    </div>
    <div class="col-md-3">
      {% render_field form.blender_certification class+="form-control" %}
      <font color="red">{{ form.blender_certification.errors }}</font>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-2 centered-text">
      <button class="btn btn-lg btn-primary" type="submit">
        <i class="glyphicons glyphicons-floppy-disk"></i>&nbsp;Save Profile
        <font color="red">{{ form.non_field_errors }}</font>
      </button>
    </div>
    <div class="col-md-4 centered-text">
      <button class="btn btn-lg btn-danger" name="cancel">
        <i class="glyphicons glyphicons-floppy-remove"></i>&nbsp;Cancel
        <font color="red">{{ form.non_field_errors }}</font>
      </button>
    </div>
  </div>
</form>

<script>
$("#id_zip_code")
  .attr("oninvalid", "setCustomValidity('Please enter valid zip')")
  .attr("onchange", "setCustomValidity('')")
</script>
{% endblock %}
