{% extends "ddny/base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

<title>DDNY Member Dues: Gimme</title>

<div class="page-header">
  <h1>
  <div class="row">
    <div class="col-md-12">
      Pay Dues
    </div>
  </div>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
  <p>If you would like to pay by check, please leave a check payable to "Raphael Santore" in the reg room at the club.  Then e-mail both Raph and Stephanie to let them know.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
  <p>I want to pay for <select id="id_months" name="id_months" required="true">
    <option value="1" selected>1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="6">6</option>
    <option value="12">12</option>
    </select>
  month<span id="id_s"></span></p>
  </div>
  <div class="col-md-4 centered-text">
    <form id="checkout" method="post" action="{% url 'braintree:gimme_dues' %}">
      <div id="paypal-container"></div>
      <input id="months" name="months" type="hidden">
      <input id="amount" name="amount" type="hidden">
      <input id="member" name="member" type="hidden">
      <button id="pay-button" class="btn btn-lg btn-primary btn-paypal">
        <i class="fa fa-paypal"></i>&nbsp;PayPal $<span id="id_balance">{{ monthly_dues }}</span>
      </button>
    </form>
  </div>
</div>

{% endblock %}
