{% extends 'ddny/base.html' %}

{% block content %}

<div class="page-header">
  <h1>Stuff to do</h1>
</div>
<ul>
  <li>Implement honorary membership</li>
  <li>Treasury heading, link to people's accounts and to braintree transactions</li>
  <li>Suppress calendar in mobile page using django-mobile</li>
  <li>html5 validate calendar entries and fillstation psi start/end values</li>
  <li>Unit test bad calendar add/delete/update calls</li>
  <li>remove awful text field resizing in the calendar popup</li>
  <li>Paginate fills</li>
  <li>copy Andrewm's filters and apply them to the fill table (tanks too?)</li>
  <li>Encrypt the site using https://letsencrypt.org/</li>
  <li>Junit test remember me button</li>
  <li>Unit test pay button in qunit</li>
  <li>Clean up blend javascript code</li>
</ul>

{% endblock %}