  {% extends 'ddny/base.html' %}

{% block content %}

<div class="page-header">
  <h1>Stuff to do</h1>
</div>
<ul>
  <li>(Urgent!) Encrypt the site using https://letsencrypt.org/</li>
  <li>(Urgent!) unit test remember me button</li>
  <li>(Urgent!) unit test pay button in qunit</li>
  <li>(Urgent!) copy Andrewm's filters and apply them to the fill table (tanks too?)</li>
  <li>Winter: Create pdf consent form with firewall</li>
  <li>Winter: Create pdf VIP form</li>
  <li>Clean up blend javascript code</li>
</ul>

{% endblock %}