{% extends 'ddny/base.html' %}

{% block content %}

<div class="page-header">
  <h1>Stuff to do</h1>
</div>
<ul>
  <li>Fix the centering in the login page/li>
  <li>html validate calendar entries</li>
  <li>Paginate fills</li>
  <li>copy Andrewm's filters and apply them to the fill table (tanks too?)</li>
  <li>Encrypt the site using https://letsencrypt.org/</li>
  <li>Jnit test remember me button</li>
  <li>Unit test pay button in qunit</li>
  <li>Clean up blend javascript code</li>
</ul>

{% endblock %}