{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS (compiled including glyphicons pro) -->
    <link rel="stylesheet" href="{% static 'static/ddny/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'static/ddny/css/ddny.css' %}">
    <link rel="stylesheet" href="{% static 'static/ddny/css/glyphicons.css' %}">
    <link rel="stylesheet" href="{% static 'static/ddny/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'static/ddny/css/sticky-footer-navbar.css' %}">
    <script src="{% static 'static/ddny/js/jquery-1.11.3.min.js' %}" text="javascript"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}"><i class="glyphicons glyphicons-home"></i>&nbsp;DDNY</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if user.is_authenticated %}
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicons glyphicons-dashboard"></i>&nbsp;&nbsp;Fill Station<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'fillstation:fill' %}">Fill</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'fillstation:blend' %}">Blend</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'fillstation:log' %}">Log</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicons glyphicons-money"></i>&nbsp;&nbsp;Pay<span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if user.member %}
                <li><a href="{% url 'fillstation:prepay'%}">Prepay</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'fillstation:pay_fills' user.member.slug %}">Pay for fills</a></li>
                {% elif user.username == "fillstation" %}
                <li><a href="{% url 'fillstation:pay_fills' user.username %}">Pay for fills</a></li>
                {% endif %}
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'gas:list' %}">Gas Prices</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicons glyphicons-oxygen-bottle"></i>&nbsp;&nbsp;Tanks<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'tank:list' %}">Tanks</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'spec_list' %}">Specifications</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'vip_list' %}">Visual Inspections</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'tank:eighteen_step' %}">PSI-PCI 18 Step Protocol</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicons {% if user.member.gender == 'female' %}glyphicons-girl{% else %}glyphicons-user{% endif %}"></i>&nbsp;&nbsp;Members<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'member_list' %}">Members</a></li>
              </ul>
            </li>
            {% if debug %}
            <li id="debug" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicons glyphicons-bug"></i>&nbsp;Debug<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li id="todo"><a href="{% url "debug:todo" %}">Todo</a></li>
                <li role="separator" class="divider"></li>
                <li id="cost"><a href="{% url "debug:fill_tests" %}">Fill</a></li>
                <li role="separator" class="divider"></li>
                <li id="cost"><a href="{% url "debug:blend_tests" %}">Blend</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicons glyphicons-cogwheel"></i>&nbsp;&nbsp;{{ user }}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if user.member %}
                <li><a href="{% url 'member_update' user.member.slug %}">Update profile</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'pay_dues' user.member.slug %}">Pay dues</a></li>
                <li role="separator" class="divider"></li>
                {% endif %}
                <li><a href="{% url 'password_change' %}">Change password</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
              </ul>
            </li>
          </ul>
         {% endif %}
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="jumbotron">
        {% if messages %}
        <div class="row">
          <div class="col-md-12">
            {% for message in messages %}
            <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %}">
              <p>{{ message }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% block content %}
        {% endblock %}
      </div>
    </div>

<!--     <footer class="footer">
      <div class="container">
          <div class="col-md-3">
            <p class="text-muted"><a href="{% url 'contact_info' %}">Contact Info</a></p>
          </div>
          <div class="col-md-3">
            <p class="text-muted"><a href="{% url 'club_dues' %}">Club Dues</a></p>
          </div>
          <div class="col-md-3">
            <p class="text-muted"><a href="{% url 'refund_policy' %}">Refund Policy</a></p>
          </div>
          <div class="col-md-3">
            <p class="text-muted"><a href="{% url 'privacy_policy' %}">Privacy Policy</a></p>
          </div>
      </div>
    </footer>
 -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'static/ddny/js/bootstrap-3.3.5.min.js' %}" text="javascript"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'static/ddny/js/ie10-viewport-bug-workaround.js' %}" text="javascript"></script>
  </body>
</html>
